<html>
<head>
<link rel="stylesheet" href ="{{ url_for('static',filename='styles/Documentation_updated.css')}}">
<title>
Documentation</title>
</head>
<body  style="background-color: black">

	<div class="topnav">
  <a href="home.html">Home</a>
  <a class="active"  href="#about">About</a>
  <a href="team.html">Contact</a>
  <div(1) class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="What to find ??">
      
    </form>
  </div(1)>
  <div(1)  class="Login-container"> <form action="/action_page.php">
      <button type="submit" style="background-color: red ;margin-left: 20px">Multipurpose Camera</button>
      <button type="submit" style="margin-left: 70px">Logout</button>

    </form></div(1)>
    <div id="quoteDisplay"></div>
    <button onclick="newQuote()">New Quote</button>
    <script src="javascript.js"></script>
    
</div>

<header><h1 align="left">DOCUMENTATION</h1></header>
<br>
<h1 style="background-color: black;color: white;">Anti-theft Surveillance System With Face Recognition  </h1>
<p style="color: white">This is a web service which  secures your Priority Locations by serving as your <b>E-Eye</b> . You can check any of your Priority Locations Real-time on your Mobiles, Laptop etc. It will Automatically Push the message to the Client Of any Offender in the Location
</p>
<br>
<h1 style="color: white">Face Recognition Feature for Attendance  </h1>
<p style="color: white">This Web Service can be used For taking Attendance  by using Face Recognition. It will Automatically register the attendance in an excel sheet and that will be sent to the Respective In charge of Class .This Will help the Students to Experience The Power of Technology and It will Embark  a new Era of Technology in the School Life.</p>
<br>
<h1 style="color: white">How To Use It ? </h1>
<p style="color: white">We have Developed  the system to be very useful and Easy for the Client  . The Client has to just Train the system with all the images of the Trust Persons/Students.

</p>


</body>
</html>