<!DOCTYPE html>
<html>
<head>
	<title>
		SignIn form
	</title>
	<style>
		body{
			background-image: url("b2.jpg");
		}
		h1{
			font-size: 100px;
		}
		form{
			font-size: 25px;
			padding-top: 15px;
 			padding-right: 15px;
  			padding-bottom: 15px;
  			padding-left: 15px;
		}
		#submit{
			font-size: 25px;
			padding-top: 15px;
 			padding-right: 15px;
  			padding-bottom: 15px;
  			padding-left: 15px;
  			background-color: #66e0ff;
		}
		#submit:hover{
			background-color: #b3f0ff;
		}
	</style>
</head>
<body>


	<h1 align="center">Sign In form</h1>
	<form padding="center" align="center" method="POST">
		Username: &nbsp&nbsp&nbsp <input type="text" name="username"><br>
		Password: &nbsp&nbsp&nbsp <input type="Password" name="password"><br>
		<br><br>
		<input id="submit" type="Submit" value="SignIn" name="signin">
	</form>

</body>
</html>