<!DOCTYPE html>
<html>
<head>
	<title>Our Team</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/team.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
</head>
<body>

	<h1>Contact Our Team!</h1>

	
 <div class="column">
    <div class="card" style="height: 217px;">
      <img src="{{url_for('static', filename='images/ramit.jpg')}}" alt="Ramit Goel" style="padding-left: 30%;width:40%; height: 101px;" ;="" padding-left:="" "30%";="">
      <div class="container">
        <h2>Ramit Goel</h2>
        <p class="title">ramitgoel3@gmail.com</p>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <img src="{{url_for('static', filename='images/jayati.png')}}" alt="Jayati Gumber" style="padding-left: 30%;width:40%;" ;="" padding-left:="" "30%";="">
      <div class="container">
        <h2>Jayati Gumber</h2>
        <p class="title">jayatigumber@gmail.com</p>
      </div>
    </div>
  </div>


  <div class="row">
  <div class="column">
    <div class="card">
      <img src="{{url_for('static', filename='images/utkarsh.png')}}" alt="Utkarsh Mishra" style="padding-left: 30%;width:40%;" ;="" padding-left:="" "30%";="" >
      <div class="container">
        <h2>Utkarsh Mishra</h2>
        <p class="title">utkarsh1148@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{{url_for('static', filename='images/manav.png')}}" alt="Manav Bansal" style="padding-left: 30%;width:40%;" ;="" padding-left:="" "30%";="">
      <div class="container">
        <h2>Manav Bansal</h2>
        <p class="title">bansalmanav456@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{{url_for('static', filename='images/prabhav.png')}}" alt="Prabhav Bansal" style="padding-left: 30%;width:40%;" ;="" padding-left:="" "30%";="">
      <div class="container">
        <h2>Prabhav Bansal</h2>
        <p class="title">p4prabhav@gmail.com</p>
      </div>
    </div>
  </div>

 

</div>
</body>
</html>








<!-- <html>
<head>
<style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 180px;
  height: 180px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

</style>
</head>
<body>

	<div><h1>Hello World! Meet our fantabulous team!</h1></div>

<div class="gallery">
    <img src="utkarsh.png">
  <div class="desc"><p>Utkarsh Mishra</p><p>utkarsh1148@gmail.com</p></div>
</div>

<div class="gallery">
    <img src="jayati.png">
  <div class="desc"><p>Jayati Gumber</p><p>jayatigumber@gmail.com</p></div>
</div>

<div class="gallery">
    <img src="manav.png">
  <div class="desc" id="manav"><p>Manav Bansal</p><p>bansalmanav456@gmail.com</p></div>
</div>

<div class="gallery">
    <img src="ramit.png">
  <div class="desc"><p>Ramit Goyal</p><p></p></div>
</div>

<div class="gallery">
    <img src="prabhav.png">
  <div class="desc"><p>Prabhav Bansal</p><p></p></div>
</div>

</body>
</html> -->